<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.mapper.ITrashMapper">



    <!-- ReportCreDTO에 대한 명시 매핑 -->
    <resultMap id="ReportCreMap"
               type="kopo.poly.dto.ReportCreDTO"
               autoMapping="false">
        <!-- PK -->
        <id     column="report_id"        property="report_id"/>

        <!-- 기본 필드들 -->
        <result column="reporter_id"      property="reporter_id"/>
        <result column="description"      property="description"/>
        <result column="image_url"        property="image_url"/>
        <result column="lat"              property="lat"         jdbcType="DOUBLE"/>
        <result column="lng"              property="lng"         jdbcType="DOUBLE"/>
        <result column="status"           property="status"/>
        <result column="title"            property="title"/>
        <result column="point"            property="point"/>
        <result column="addr"            property="addr"/>

        <!-- 시간/추가 필드 -->
        <result column="created_at"       property="created_at"  jdbcType="TIMESTAMP"/>
        <result column="updated_at"       property="updated_at"  jdbcType="TIMESTAMP"/>
        <result column="resolver_id"      property="resolver_id"/>
        <result column="note"             property="note"/>
        <result column="proof_image_url"  property="proof_image_url"/>
        <result column="solved_at"        property="solved_at"   jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="reportProc" parameterType="ReportCreDTO">
        INSERT INTO trash_report
        (
            reporter_id,
            description,
            image_url,
            lat,
            lng,
            status,
            created_at,
            title,
            point,
            addr
        )
        VALUES
            (
                #{reporter_id},
                #{description},
                #{image_url},
                #{lat,jdbcType=DOUBLE},
                #{lng,jdbcType=DOUBLE},
                #{status},
                NOW(),
                #{title},
                #{point,jdbcType=INTEGER},
                #{addr}
            )
    </insert>

    <update id="changeReportStatus" parameterType="long">
        UPDATE trash_report
        SET status = 'RESOVLED'
        WHERE report_id = #{report_id}
    </update>

    <select id="selectAllReportById" resultMap="ReportCreMap" parameterType="String">
        SELECT * FROM trash_report
        WHERE reporter_id = #{reporter_id}
    </select>

    <select id="selectAllSolutionById" resultMap="ReportCreMap" parameterType="String">
        SELECT * FROM trash_report
        WHERE resolver_id = #{resolver_id}
    </select>


    <select id="selectAllTrash" resultMap="ReportCreMap">
        SELECT * FROM trash_report
    </select>

    <update id="reportSolution" parameterType="ReportCreDTO">
        UPDATE trash_report
        SET resolver_id = #{resolver_id}, note = #{note}, proof_image_url = #{proof_image_url}, solved_at = NOW(), status = 'true'
        WHERE report_id = #{report_id}
    </update>

    <select id="getDong" parameterType="String" resultType="String">
        SELECT residence_dong
        FROM users
        WHERE user_id = #{userId}
    </select>

    <update id="sumUserPoint" parameterType="String">
        update users
        set point = (
            select point from trash_report where report_id = #{report_id}
            )
        WHERE user_id = #{user_id}
    </update>


			
</mapper>