<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.mapper.ITrashMapper">

    <insert id="reportProc" parameterType="ReportCreDTO">
        INSERT INTO report
        (
            reporter_id,
            category,
            description,
            image_url,
            residence_dong,
            lat,
            lng,
            priority,
            status,
            created_at
        )
        VALUES
            (
                #{reporter_id},
                #{category},
                #{description},
                #{image_url},
                #{residence_dong},
                #{lat,jdbcType=DOUBLE},
                #{lng,jdbcType=DOUBLE},
                #{priority},
                #{status},
                NOW()
            )
    </insert>

    <update id="changeReportStatus" parameterType="long">
        UPDATE trash_report
        SET status = 'RESOVLED'
        WHERE report_id = #{report_id}
    </update>

    <insert id="" parameterType="SolutionDTO">
        INSERT INTO trash_solution
        (report_id, resolver_id, result, note, proof_image_url, solved_at)
        VALUES
            (#{report_id}, #{resolver_id}, #{result}, #{note},
             #{proof_image_url}, NOW())
    </insert>

    <select id="selectAllReports" resultType="ReportCreDTO" parameterType="String">
        SELECT * FROM trash_report
        WHERE reporter_id = #{reporter_id}
    </select>

    <select id="selectAllSolutions" resultType="SolutionDTO" parameterType="String">
        SELECT * FROM trash_solution
        WHERE resolver_id = #{resolver_id}
    </select>






			
</mapper>